@primary-color: #1a595a;
@text-color-secondary: #0e8a8a;
@text-color-secondary-dark: #1a595a;
@layout-body-background: #fafdfd;
@layout-header-background: #ffffff;
@disabled-color: #d1d1d1;
@menu-item-active-bg: #e1f1ee;
@menu-dark-submenu-bg: #ffffff;
@menu-dark-highlight-color: #ffffff;
